{# src/Arii/JIDBundle/Resources/views/Default/history.html.twig #}
{% extends "AriiJIDBundle::layout.html.twig" %}
{% block body %}

<script type="text/javascript">
var max_history = 0; // pas d'historique
var chained = 0; // que des standalone
var only_warning = 0; // que les problemes
var update=30;
var autorefresh;

var myGridToolbar;
var status;

var myTabbar;
var calTo;
var calFrom;

var myCalendarFrom;
var myCalendarTo;
var myFormDate;
var details;


dhtmlxEvent(window,"load",function(){
  globalLayout = new dhtmlXLayoutObject(document.body,"3U");
  globalLayout.cells("c").setHeight(680);

  globalLayout.cells("a").setWidth(350);
  globalLayout.cells("a").hideHeader();
  globalLayout.cells("b").hideHeader();


  globalMenu = globalLayout.cells("a").attachMenu();
  globalMenu.setIconsPath( "{{ asset('/bundles/ariicore/images/menu/') }}" );
  globalMenu.loadStruct("{{ url('xml_menu') }}?route={{ app.request.attributes.get('_route') }}");


  myTabs = globalLayout.cells("a").attachTabbar();
  myTabs.addTab("a1","{{ "Welcome" | trans }}","100px", null, true);
  myTabs.addTab("a2","{{ "Advanced" | trans }}","100px", null, true);

  myRibbon = myTabs.cells("a1").attachRibbon();
  myRibbon.setIconPath( "{{ asset('bundles/ariicore/images/ribbon/') }}" );
  myRibbon.loadStruct("{{ url('json_JID_ribbon') }}");
  myRibbon.attachEvent("onStateChange", StateRibbon );
  myRibbon.attachEvent("onClick", ClickRibbon );
  myTabs.cells("a1").setActive();
  myFormDate = myTabs.cells("a2").attachForm();
  myFormDate.loadStruct("{{url('xml_JID_job_date_form')}}");


  myFormDate.attachEvent("onXLE", function (name, value){
    calFrom = myFormDate.getCalendar("start_date");
      calTo = myFormDate.getCalendar("end_date");
      var date2 = calTo.getFormatedDate();
      var date1 = calFrom.getFormatedDate();
      calTo.setSensitiveRange(date1, null);
      calFrom.setSensitiveRange(null, date2);
    });


    myFormDate.attachEvent("onChange", function (name, value){
      calFrom = myFormDate.getCalendar("start_date");
      calTo = myFormDate.getCalendar("end_date");
      var date2 = calTo.getFormatedDate();
      var date1 = calFrom.getFormatedDate();
      calTo.setSensitiveRange(date1, null);
      calFrom.setSensitiveRange(null, date2);
    });

    myFormDate.attachEvent("onButtonClick",function(id){
      switch (id) {
        case 'proceed':
           globalLayout.cells("c").progressOn();
           calFrom = myFormDate.getCalendar("start_date");
           calTo = myFormDate.getCalendar("end_date");
           var date2 = calTo.getFormatedDate();
           var date1 = calFrom.getFormatedDate();
           DateRefresh(date1, date2);
           break;
        default:
           alert(id);
           break;
      }
    });


/*
    myRibbon = globalLayout.cells("a").attachRibbon();
    myRibbon.setIconPath( "/bundles/ariicore/images/ribbon/" );
    myRibbon.loadStruct("{{ url('json_JID_ribbon') }}", function() {
      var myCalendarFrom = new dhtmlXCalendarObject(myRibbon.getInput("calendar_from"));
      myCalendarFrom.setDateFormat("%Y-%m-%d %H:%i:%s");
      myCalendarFrom.setWeekStartDay(1);
      myRibbon.setValue("calendar_from", myCalendarFrom.getFormatedDate());


      var myCalendarTo = new dhtmlXCalendarObject(myRibbon.getInput("calendar_to"));
      myCalendarTo.setDateFormat("%Y-%m-%d %H:%i:%s");
      myCalendarTo.setWeekStartDay(1);
      myRibbon.setValue("calendar_to", myCalendarTo.getFormatedDate());

      var date1 = myCalendarFrom.getFormatedDate();
      var date2 = myCalendarTo.getFormatedDate();
      myCalendarTo.setSensitiveRange(date1, null);
      myCalendarFrom.setSensitiveRange(null, date2);

      myRibbon.attachEvent("onStateChange",function (name, value){
        alert("change");
        var date1 = myCalendarFrom.getFormatedDate();
        var date2 = myCalendarTo.getFormatedDate();
        myCalendarTo.setSensitiveRange(date1, null);
        myCalendarFrom.setSensitiveRange(null, date2);
      });

     myCalendarFrom.attachEvent("onStateChange",function (name, value){
       aler("ok");
        var date1 = myCalendarFrom.getFormatedDate();
        var date2 = myCalendarTo.getFormatedDate();
        myCalendarTo.setSensitiveRange(date1, null);
        myCalendarFrom.setSensitiveRange(null, date2);
      });

      myCalendarTo.attachEvent("onStateChange",function (name, value){
        var date1 = myCalendarFrom.getFormatedDate();
        var date2 = myCalendarTo.getFormatedDate();
        myCalendarTo.setSensitiveRange(date1, null);
        myCalendarFrom.setSensitiveRange(null, date2);
      });

      //myRibbon.attachEvent("onClick", ClickRibbon );
      myRibbon.attachEvent("onStateChange", StateRibbon );

      myRibbon.attachEvent("onClick",function(id){
        switch (id) {
          case 'menu_range':
          globalLayout.cells("c").progressOn();
          calFrom = myRibbon.getInput("calendar_from");
          calTo = myRibbon.getInput("calendar_to");
          var date1 = myCalendarFrom.getFormatedDate();
          var date2 = myCalendarTo.getFormatedDate();
          DateRefresh(date1, date2);
          break;

          default:
          ClickRibbon(id);
          break;
        }
      });
    });
*/




    myGridMenu = new dhtmlXMenuObject(null);
    myGridMenu.setIconsPath( "{{ asset('/bundles/ariicore/images/wa/') }}" );
    myGridMenu.renderAsContextMenu();
    myGridMenu.loadStruct("{{ url('xml_JID_jobs_grid_menu') }}");

    globalLayout.cells("c").hideHeader();
    myGrid = globalLayout.cells("c").attachGrid();
    myGrid.selMultiRows = true;
    myGrid.setImagePath( "{{ asset('bundles/ariicore/images/treegrid/') }}");
    //myGridMenu.splitAt(2);
    //myGrid.enableColumnMove(true);
    myGrid.setHeader("{{ "Spooler" | trans }},{{ "Folder" | trans }},{{"Chain" | trans}},{{ "Job" | trans }},{{ "Status" | trans }},#cspan,{{ "Start time" | trans}},{{ "End time" | trans }},{{ "Duration" | trans }},{{ "Exit" | trans }},{{ "Timeline" | trans }},{{ "PID" | trans }},&nbsp;");
    myGrid.attachHeader("#select_filter,#text_filter,#text_filter,#text_filter,#select_filter,#cspan,#text_filter,#text_filter,#text_filter,#text_filter,<img width='480' src='{{app.request.baseurl}}/public/gantt'/>,#text_filter,#rspan");
    myGrid.setInitWidths("150,400,200,400,100,40,150,150,110,400,495,60,35");
        //myGrid.enableAutoWidth(true);
    myGrid.enableColumnAutoSize(true);
    myGrid.setColAlign("left,left,left,left,center,center,right,right,right,right,right,right,center");
    myGrid.setColTypes("ro,ro,ro,ro,ro,img,ro,ro,ro,ro,ro,ro,img");
    //myGrid.setColSorting("str,str,str,str,str,str,date,date,str,str,str,int,str");
    myGrid.enableContextMenu(myGridMenu);
    myGrid.attachEvent("onBeforeContextMenu", onShowMenu );
    myGrid.init();
    myGrid.enableSmartRendering(true,15);
    //    myGrid.splitAt(1);

    myGrid.setColumnHidden(9,true);
    myGrid.setColumnHidden(7,true);
    myGrid.setColumnHidden(10,true);
    myGrid.load( "{{ url('xml_JID_jobs_grid', {bool : 'false'}) }}");
    myGrid.attachEvent("onRowDblClicked",JobDetail );

  /*  myDonut.attachEvent("onItemClick",function(id, value){
        status = id;
        myGrid.filterBy(3, status);
        myGrid.getFilterElement(3).value = status;
    });*/


    myGridToolbar = globalLayout.cells("c").attachToolbar();
    myGridToolbar.setIconsPath("{{ asset('bundles/ariicore/images/toolbar/') }}");
    myGridToolbar.loadStruct( "{{ url('xml_JID_jobs_grid_toolbar') }}");


    //Filre de requete avec des dates precises
    myGridToolbar.attachEvent("onXLE", function(){


      {% if (app.session.get('viewAll') == null)%}
      myGridToolbar.setItemState("view", false, null);
      {% else %}
      myGridToolbar.setItemState("view", {{app.session.get('viewAll')}}, null);
      {% endif %}


      {% if (app.session.get('bool') == null)%}
      myGridToolbar.setItemState("chains", false, null);
      {% else %}
      myGridToolbar.setItemState("chains", {{app.session.get('bool')}}, null);
      {% endif %}
    });





    myGridToolbar.attachEvent("onClick",function(itemid){
      switch (itemid) {
        case 'refresh':
        globalLayout.cells("c").progressOn();
        GlobalRefresh();
        break;
        case "print":
        myGrid.printView();
        break;
        case "rss":
        document.location.href = "{{ url('rss_JID_history_job') }}";
        break;
        default:
        alert(itemid);
        break;
      }
    });
    myGridToolbar.attachEvent("onStateChange",function(itemid, state){
         switch (itemid) {
            case 'gantt':
                myGrid.setColumnHidden(5,state);
                myGrid.setColumnHidden(6,state);
                myGrid.setColumnHidden(7,state);
                myGrid.setColumnHidden(8,state);
                myGrid.setColumnHidden(9,!state);
                break;
            case 'duration':
                myGrid.setColumnHidden(7,!state);
                break;
            case 'pid':
                myGrid.setColumnHidden(10,!state);
                break;
            case  'view':
               viewAllRefresh();
               break;

            case "chains":
               globalLayout.cells("c").progressOn();
               ChainRefresh();
               break;

            default:
                alert(itemid);
                break;
        }
    });

    myGridMenu.attachEvent("onClick", function (menuitemId, type) {
        var data = myGrid.contextID.split("_");
        var rId = data[0];
        var cInd = data[1];
        spooler = myGrid.cells(rId,0).getValue();
        switch (menuitemId) {
           case "spooler_go":
                window.open('/js/'+spooler+'/', spooler);
                break;
           case "show_info":
                JobInfo( rId );
            break;
            case "doc":
                window.open('{{ url('arii_JID_job_doc') }}?id='+rId,'arii_doc');
                break;
           case "job_history":
                document.location.href = "{{ url('arii_JID_history_job') }}?id="+rId;
            break;
           case "order_history":
                document.location.href = "{{ url('arii_JID_order_history') }}?id="+rId;
            break;
            case "show_why":
                ShowWhy( rId);
                break;
            case "pause_spooler":
                Spooler("{{ url('arii_XML_Command') }}?command=pause_spooler&spooler_id",spooler);
                break;
            case "continue_spooler":
                Spooler("{{ url('arii_XML_Command') }}?command=continue_spooler&spooler_id",spooler);
                break;
            case "check_spooler":
                // Spooler("{{ url('arii_JID_spooler_update') }}?id",spooler);
                CheckSpooler(spooler);
                break;
            case "terminate_spooler":
                Spooler("{{ url('arii_XML_Command') }}?command=restart_spooler&spooler_id",spooler);
                break;
            case "abort_spooler":
                Spooler("{{ url('arii_XML_Command') }}?command=abort_spooler&spooler_id",spooler);
                break;
            case "purge_job":
                PurgeJob( rId );
            break;
            case "job_view":
            case "job_detail":
                JobDetail( rId );
            break;
            case "order_detail":
                OrderDetail( rId );
            break;
            case "stop_chain":
                Chain(rId,menuitemId,"{{ "Stop chain" | trans }}",null);
                break;
            case "unstop_chain":
                Chain(rId,menuitemId,"{{ "Unstop chain" | trans }}",null);
                break;
            case "stop_node":
                nId = mygrid.getUserData(rId,'TASK_ID');
                Node(rId,nId,menuitemId,"{{ "Stop node" | trans }}",null);
                break;
            case "unstop_node":
                nId = mygrid.getUserData(rId,'TASK_ID');
                Node(rId,nId,menuitemId,"{{ "Unstop node" | trans }}",null);
                break;
            case "skip_node":
                nId = mygrid.getUserData(rId,'TASK_ID');
                Node(rId,nId,menuitemId,"{{ "Skip node" | trans }}",null);
                break;
            case "unskip_node":
                nId = mygrid.getUserData(rId,'TASK_ID');
                Node(rId,nId,menuitemId,"{{ "Unskip node" | trans }}",null);
                break;
            case "suspend_order":
            case "resume_order":
                    alert(menuitemId);
                break;
            case "reset_order":
                XMLCommand(rId,menuitemId);
                break;
            default:
                alert("inconnu ! "+menuitemId);
        }
        return true;
    });

    myTabbar = globalLayout.cells("b").attachTabbar();
    myTabbar.addTab("b1","{{ "Job" | trans }}","100px", null, true);
    myTabbar.addTab("b2","{{ "Log" | trans }}","100px");
    myTabbar.addTab("b3","{{ "History" | trans }}","100px");
    myTabbar.addTab("b4","{{ "Statut" | trans }}","100px");
    myTabbar.addTab("b5","{{ "Folders" | trans }}","100px");
    myTabbar.addTab("b6","{{ "Details" | trans }}","100px");
    //myTabbar.addTab("b7","{{ "Test Chart" | trans }}","100px");


    details = myTabbar.cells("b6").attachTree();
    details.setImagesPath("{{ asset('bundles/ariicore/images/tree/') }}");
    //.details.load("{{ url('xml_JID_job_info') }}");
    //details.load("{{ url('xml_JID_job_test')}}");

    details.attachEvent("onXLE", function(){
      details.openAllItems("spooler");
    });





    //myDonut2 = myTabbar.cells("b7").attachURL("{{url('test_chart')}}");




    myDonut =  myTabbar.cells("b4").attachChart({
            view:"donut",
            container:"pie_chart_container",
            value:"#JOBS#",
            label:"",
            tooltip: "#STATUS#",
            color: "#COLOR#",
            border:false,
            pieInnerText: "#JOBS#",
            shadow: 0,
            legend:{
                width: 0,
                template: "#STATUS#",
                valign:"top",
                align:"left"
            }
    });
    myDonut.load( "{{ url('xml_JID_jobs_pie') }}?chained="+chained+"&only_warning="+only_warning );


    myDonut.attachEvent("onItemClick",function(id, value){
        status = id;
        myGrid.filterBy(3, status);
        myGrid.getFilterElement(3).value = status;
    });




    myTree = myTabbar.cells("b5").attachTree();
    myTree.setImagesPath("{{ asset('bundles/ariicore/images/tree/') }}");
    myTree.attachEvent("onDblClick", function(id){
        myTabbar.cells("b5").progressOn();
        GlobalRefresh();
    });

    myTree.attachEvent("onClick",function(id, value){
        var Path = id.split('/');
        Path.shift();
        var spooler = Path.shift();
        var folder = Path.join('/');
        myGrid.filterBy(0, spooler);
        myGrid.filterBy(1, folder);
    });


    myDetailLayout = myTabbar.cells("b1").attachLayout("2U");
    myDetailLayout.cells("a").hideHeader();
    myDetailLayout.cells("b").hideHeader();
    myDetailLayout.cells("a").setWidth(640);

    myForm = myDetailLayout.cells("a").attachForm();
    myForm.loadStruct("{{ url('json_JID_jobs_form') }}");

    myDetailToolbar = myDetailLayout.cells("a").attachToolbar();
    myDetailToolbar.setIconsPath("{{ asset('bundles/ariicore/images/toolbar/') }}");
    myDetailToolbar.loadStruct( "{{ url('xml_JID_jobs_form_toolbar') }}" , function(){
        GBCalendar = new dhtmlXCalendarObject(myDetailToolbar.getInput('ref_date'));
        GBCalendar.setDateFormat("%Y-%m-%d %H:%i:%s");
        GBCalendar.setWeekStartDay(1);
    });

    var myParametersToolbar = myDetailLayout.cells("b").attachToolbar();
    myParametersToolbar.setIconsPath("{{ asset('bundles/ariicore/images/toolbar/') }}");
    myParametersToolbar.loadStruct("{{ url('xml_JID_job_params_toolbar') }}");

    myParameters = myDetailLayout.cells("b").attachGrid();
    myParameters.selMultiRows = true;
    myParameters.setHeader("{{ "Parameter" | trans }},{{ "Value" | trans }}");
    myParameters.setColTypes("ed,ed");
    myParameters.setInitWidths("*,*");
    myParameters.init();

    myLog = myTabbar.cells("b2").attachGrid();
    myLog.setHeader("{{ "Date" | trans }},{{ "Type" | trans }},{{ "Message" | trans }},{{ "Code" | trans }}");
    myLog.attachHeader("#text_filter,#select_filter,#text_filter,#select_filter");
    myLog.setInitWidths("180,60,*,60");
    myLog.setColAlign("right,left,left,right");
    myLog.setColTypes("ro,ro,ro,ro");
    myLog.setColSorting("date,str,str,int");
    myLog.init();

    myHistory = myTabbar.cells("b3").attachGrid();
    myHistory.setHeader("{{ "Start time" | trans }},{{ "End time" | trans }},{{ "Duration" | trans }},{{ "Error" | trans }},{{ "Exit" | trans }},{{ "Message" | trans }}");
    myHistory.attachHeader("#text_filter,#text_filter,#text_filter,#select_filter,#select_filter,#text_filter");
    myHistory.setInitWidths("140,140,110,80,70,*");
    myHistory.setColAlign("right,right,right,right,right,left");
    myHistory.setColTypes("ro,ro,ro,ro,ro,ro");
    myHistory.setColSorting("date,date,str,int,int,str");
    myHistory.init();
    myHistory.enableAlterCss("even_row","odd_row");

    myDetailToolbar.attachEvent("onClick",function(itemid){
        Text = '';
        var id = myForm.getItemValue('ID');
        switch(itemid) {
            case "start_job":
                Text = "{{ "Start job" | trans }}";
                break;
            case "stop_job":
                Text = "{{ "Stop job" | trans }}";
                break;
            case "unstop_job":
                Text = "{{ "Unstop job" | trans }}";
                break;
            case "delete_task":
            case "kill_task":
                Text = "{{ "Kill task" | trans }}";
                break;
        }
        switch(itemid) {
            case "start_job":
            case "stop_job":
            case "unstop_job":
            case "delete_task":
            case "kill_task":
                var params = new Array();
                myParameters.forEachRow(function(id){
                    var param = myParameters.cells(id,0).getValue() + "=" + encodeURIComponent(myParameters.cells(id,1).getValue());
                    params.push(param);
                });
                var paramsStr = params.join(",");
                var start_time = '';
                start_time = myDetailToolbar.getValue("ref_date");
                // alert("{{ url('arii_XML_Command') }}?command="+itemid+"&params="+encodeURIComponent(params)+"&time="+start_time+"&job_id="+id);
                dhtmlx.message({
                type: "Notice",
                text: Text });
                globalLayout.cells("b").progressOn();
                globalLayout.cells("c").progressOn();
                //alert("{{ url('arii_XML_Command') }}?command="+itemid+"&params="+encodeURIComponent(params)+"&time="+start_time+"&job_id="+id);
                dhx4.ajax.post("{{ url('arii_XML_Command') }}","command="+itemid+"&params="+encodeURIComponent(params)+"&time="+start_time+"&job_id="+id,function(loader,response){
                    dhtmlx.message({
                    type: "Notice",
                    expire: 10000,
                    width: "500px",
                    text: loader.xmlDoc.responseText });
                    GlobalRefresh();
                });
                break;
            default:
                alert(itemid);
                break;
        }
        return true;
    });

    myParametersToolbar.attachEvent("onClick",function(itemid){
        switch(itemid) {
            case "new":
                myParameters.addRow(myParameters.getRowsNum()+1,"");
                break;
            default:
                break;
        }
        return true;
    });

    // Premier chargement avant le smart rendering
    autorefresh = setInterval( "GridRefresh()",update*1000);
});


function DateRefresh(date1, date2){
  //alert("from "+date1+" to "+date2);
  var tmp = "true"
  var route = "{{ url('xml_JID_job_grid_date', {'date1' : 'date1', 'date2':'date2'}) }}";
  route = route.replace("date1", date1);
  route = route.replace("date2", date2);
  //alert(route);


  //a changer car duplication de code de refresh
  globalLayout.cells("c").progressOn();
  myGrid.load(route,function(){
    globalLayout.cells("c").progressOff();
    myGrid.refreshFilters();
    myGrid.filterByAll();
    myGrid.filterBy(4, status);
    myDonut.load( "{{ url('xml_JID_jobs_pie') }}?chained="+chained+"&only_warning="+only_warning, function () {
      myDonut.refresh();
      globalLayout.progressOff();
      myTabbar.cells("b4").progressOff();
      myTree.smartRefreshBranch(0,"{{ url('xml_JID_jobs_tree') }}?chained="+chained+"&only_warning="+only_warning);
    });
  });


  //document.location = route;
//  execute(route);
}


function viewAllRefresh(){
  //on charge avec tout / sans les params
  var bool = myGridToolbar.getItemState("view");
  var route = "{{ url('xml_JID_job_grid_all', {bool: "var"}) }}";
  route = route.replace("var", bool);

  //a changer car duplication de code de refresh
  globalLayout.cells("c").progressOn();
  myGrid.load(route,function(){
    globalLayout.cells("c").progressOff();
    myGrid.refreshFilters();
    myGrid.filterByAll();
    myGrid.filterBy(4, status);
    myDonut.load( "{{ url('xml_JID_jobs_pie') }}?chained="+chained+"&only_warning="+only_warning, function () {
      myDonut.refresh();
      globalLayout.progressOff();
      myTabbar.cells("b4").progressOff();
      myTree.smartRefreshBranch(0,"{{ url('xml_JID_jobs_tree') }}?chained="+chained+"&only_warning="+only_warning);
    });
  });
}


function GlobalRefresh() {    clearInterval( autorefresh );
    GridRefresh(false);
    autorefresh = setInterval( "GridRefresh()", update*1000 );
}


function ChainRefresh(){

  var bool = myGridToolbar.getItemState("chains");
  var route = "{{ url('xml_JID_jobs_grid_chain', {bool: "var"}) }}";
  route = route.replace("var", bool);
  //alert(route);
  //a changer car duplication de code de refresh
  globalLayout.cells("c").progressOn();
  myGrid.load(route,function(){
    globalLayout.cells("c").progressOff();
    myGrid.refreshFilters();
    myGrid.filterByAll();
    myGrid.filterBy(4, status);
    myDonut.load( "{{ url('xml_JID_jobs_pie') }}?chained="+chained+"&only_warning="+only_warning, function () {
      myDonut.refresh();
      globalLayout.progressOff();
      myTabbar.cells("b4").progressOff();
      myTree.smartRefreshBranch(0,"{{ url('xml_JID_jobs_tree') }}?chained="+chained+"&only_warning="+only_warning);
    });
  });



  clearInterval( autorefresh );
  GridRefresh(true);
  autorefresh = setInterval( "GridRefresh()", update*1000 );
}



function GridRefresh(bool) {
    var currentTime = new Date();
    var hours = currentTime.getHours();
    var minutes = currentTime.getMinutes();
    var seconds = currentTime.getSeconds();
    if (minutes < 10){
    minutes = "0" + minutes;
    }
    if (seconds < 10){
    seconds = "0" + seconds;
    }
    myRibbon.setItemText( "refresh", hours + ":" + minutes + ":" +  seconds );

    if(bool){
      var vari = "true";
      var route = "{{ url('xml_JID_jobs_grid', {bool : " vari "}) }}?time=";
      route.replace("vari", vari);

      myGrid.load("{{ url('xml_JID_jobs_grid', {bool : 'true'}) }}?time="+seconds+"&history="+max_history+"&chained="+chained+"&only_warning="+only_warning, function(){
      //myGrid.load(route.replace("var",bool)+""+seconds+"&history="+max_history+"&chained="+chained+"&only_warning="+only_warning, function(){
        globalLayout.cells("c").progressOff();
        myGrid.refreshFilters();
        myGrid.filterByAll();
        myGrid.filterBy(4, status);
        myDonut.load( "{{ url('xml_JID_jobs_pie') }}?chained="+chained+"&only_warning="+only_warning, function () {
          myDonut.refresh();
          globalLayout.progressOff();
          myTabbar.cells("b4").progressOff();
          myTree.smartRefreshBranch(0,"{{ url('xml_JID_jobs_tree') }}?chained="+chained+"&only_warning="+only_warning);
        });
      });
    }else{
      myGrid.load("{{ url('xml_JID_jobs_grid', {bool : 'false'}) }}?time="+seconds+"&history="+max_history+"&chained="+chained+"&only_warning="+only_warning, function(){
        globalLayout.cells("c").progressOff();
        myGrid.refreshFilters();
        myGrid.filterByAll();
        myGrid.filterBy(4, status);
        myDonut.load( "{{ url('xml_JID_jobs_pie') }}?chained="+chained+"&only_warning="+only_warning, function () {
          myDonut.refresh();
          globalLayout.progressOff();
          myTabbar.cells("b4").progressOff();
          myTree.smartRefreshBranch(0,"{{ url('xml_JID_jobs_tree') }}?chained="+chained+"&only_warning="+only_warning);
        });
      });
    }
  }

function JobDetail(id) {
    globalLayout.cells("b").progressOn();
    myForm.load("{{ url('xml_JID_job_form') }}?id="+id);
    // mise a jour de la toolbar
    var status = myGrid.cells(id, 3 ).getValue();
    myDetailToolbar.showItem('unstop_job');
    myDetailToolbar.showItem('stop_job');
    myDetailToolbar.showItem('kill_task');
    if (status== 'STOPPED') {
        myDetailToolbar.hideItem('stop_job');
    }
    else {
        myDetailToolbar.hideItem('unstop_job');
    }
    if (status!= 'RUNNING') {
        myDetailToolbar.hideItem('kill_task');
    }
    myParameters.load("{{ url('xml_JID_job_params') }}?id="+id );
    myHistory.clearAll();
    myHistory.load("{{ url('xml_JID_job_history') }}?id="+id );
    myLog.clearAll();
    myLog.load("{{ url('xml_JID_job_log') }}?id="+id, function (id) {
      globalLayout.cells("c").progressOff();
    });




    //details = myTabbar.cells("b6").attachTree();
    details.deleteChildItems(0);
    details.setImagesPath("{{ asset('bundles/ariicore/images/tree/') }}");
    details.load("{{ url('xml_JID_job_info')}}?id="+id , function(id){
      globalLayout.cells("b").progressOff();
    });

    //details.load("{{ url('xml_JID_job_test')}}" );
  }





function onShowMenu(rowId, celInd, grid) {

    var status = grid.cells(rowId, 3 ).getValue();

    // si on est operator
    {% if is_granted('ROLE_OPERATOR') %}
    if (status !=='RUNNING') {
        myGridMenu.hideItem('kill_task');
    }
    else {
        myGridMenu.showItem('kill_task');
    }
    if (status !=='QUEUED')  {
        myGridMenu.hideItem('delete_task');
    }
    else {
        myGridMenu.showItem('delete_task');
    }
    // job stoppé
    if ((grid.cells(rowId, 3).getValue()== 'STOPPED')
         || (grid.cells(rowId, 3).getValue()== 'STOPPING') ){
        myGridMenu.hideItem("stop_job");
        myGridMenu.showItem("unstop_job");
    }
    else {
        myGridMenu.hideItem("unstop_job");
        myGridMenu.showItem("stop_job");
    }
    {% else %}
        myGridMenu.hideItem('start_job');
        myGridMenu.hideItem('kill_task');
        myGridMenu.hideItem('stop_job');
        myGridMenu.hideItem('unstop_job');
        myGridMenu.hideItem('pause_spooler');
        myGridMenu.hideItem('continue_spooler');
    {% endif %}
 return true;
}

// Fonctions
function CheckSpooler(rid)
{
    dhx4.ajax.get("{{ url('arii_JID_spooler_update') }}?id="+rid,function(loader,response){
        dhtmlx.message({
            type: "Notice",
            expire: 10000,
            width: "500px",
            text: loader.xmlDoc.responseText
        });
    });
    return true;
}

function Spooler(url,rid)
{
    dhx4.ajax.get.get(url+"="+rid,function(loader,response){
        dhtmlx.message({
            type: "Notice",
            expire: 10000,
            width: "500px",
            text: loader.xmlDoc.responseText
        });
        CheckSpooler(rid);
    });
    return true;
}

</script>
</body>
{% endblock %}
